@import 'grid';
@import 'breakpoints';


body {
  font-family: 'Fira Sans', sans-serif;
  text-align: center;
}

.row {
  @include row();

  &:not(:last-of-type) {
    margin-bottom: 50px;
  }
}

.row-one {
  .one {
    @include breakpoint-sm() {
      @include col(12);

      &:not(:last-of-type) {
        margin-bottom: 10px;
      }
    }
  }
}

.column {
  > div {
    min-height: 100px;
    line-height: 100px;
    background-color: #4586FF;
    color: #fff;
  }
}

.one {
  @include col(1);
}
